langchain==0.3.7
bittensor==8.5.1
langchain-openai
sentence_transformers
numpy
datasets
langchain-core==0.3.19
python-dotenv
code_bert_score
cachetools
strenum
detect-secrets
wandb
swebench==3.0.7
torch
autopep8
boto3
smart_open
transformers
langchain-anthropic
fastapi
pydantic
langchain-google-genai
huggingface-hub
bittensor-commit-reveal
zmq
grpcio
gunicorn
spread_scoring_utilities==3.2.0
google-genai
