langchain==0.3.7
bittensor==8.5.1
langchain-openai
sentence_transformers
numpy
datasets
langchain-core==0.3.19
python-dotenv
code_bert_score
cachetools
strenum
detect-secrets
wandb
swebench
torch
autopep8
boto3
smart_open
accelerate
transformers
bitsandbytes
flash_attn
huggingface-hub
bittensor-commit-reveal
sglang