sentence-transformers
networkx
grep-ast
tree-sitter
tree-sitter-languages
rapidfuzz 
llama-index
pydantic
numpy
ruamel.yaml
fastapi
uvicorn
langchain_openai
libcst
langchain-text-splitters
pydra
tqdm
aiohappyeyeballs
aiohttp
aiosignal
anthropic
anyio
attrs
beautifulsoup4
black
certifi
cfgv
chardet
click
datasets
dill
distlib
distro
docker
fastcore
filelock
frozenlist
fsspec
ghapi
gitdb
GitPython
h11
httpcore
httpx
identify
idna
jiter
Levenshtein
mdurl
multidict
multiprocess
nodeenv
numpy
openai
packaging
pandas
pathspec
platformdirs
plotly
pre_commit
propcache
pyarrow
pydantic
pydantic_core
Pygments
pyright
pytz
PyYAML
RapidFuzz
regex
requests
rich
safetensors
setuptools
six
smmap
sniffio
soupsieve
tokenizers
tqdm
transformers
typing_extensions
tzdata
unidiff
urllib3
virtualenv
wheel
xxhash
yarl
huggingface-hub
python-dateutil
mypy-extensions
markdown-it-py
charset-normalizer
annotated-types
pydra-config
